:root {
  font-family: 'Neoteric', Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0 !important;
  overflow-x: hidden;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/*
font: Neoteric
license: Shareware, Non-Commercial
link: https://www.fontspace.com/neoteric-font-f21557
*/
@font-face {
  font-family: 'Neoteric';
  src: url('./assets/fonts/Neoteric-32A8.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neoteric';
  src: url('./assets/fonts/NeotericBold-xq1q.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Soreva';
  src: url('./assets/fonts/SOREVA.ttf') format('truetype');
}

@font-face {
  font-family: 'GeneralSans';
  src: url('./assets/fonts/GeneralSans-Variable.ttf') format('truetype');
}